{% extends 'base.html' %}

{% block title %}Patrones disponibles{% endblock %}

{% block content %}
<h3 class="text-xl font-bold mb-4 text-stone-800">Patrones</h3>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mb-12">
    {% for patron in patrones %}
    <div
        class="group relative bg-white rounded-xl shadow-lg overflow-hidden flex flex-col transition transform hover:-translate-y-1 hover:shadow-2xl">
        <div class="relative">
            <img src="{{ patron.imagen.url }}" alt="{{ patron.titulo }}"
                class="h-56 w-full object-cover transition duration-500 group-hover:scale-105" />
            <button
                class="absolute right-4 top-4 z-10 rounded-full bg-white p-2 text-stone-900 shadow hover:bg-stone-100 transition">
                <span class="sr-only">Wishlist</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                </svg>
            </button>
        </div>
        <div class="flex-1 flex flex-col justify-between p-6">
            <div>
                <h3 class="text-lg font-semibold text-stone-600 mb-2 group-hover:text-stone-800 transition">
                    {{ patron.nombre}}
                </h3>
                <p class="text-gray-700 text-sm mb-3 line-clamp-3">
                    {{ patron.descripcion|truncatewords:20 }}
                </p>
            </div>
            <div>
                <p class="text-base font-bold text-stone-600 mb-4">${{ patron.precio|floatformat:2 }} COP</p>
                <form action="{% url 'agregar_producto' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="content_type" value="patron">
                    <input type="hidden" name="object_id" value="{{ patron.id }}">
                    <button type="submit"
                        class="w-full rounded-md bg-stone-400 py-2 font-medium text-stone-900 shadow hover:bg-stone-300 transition">
                        Agregar al carrito
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="col-span-full text-center text-gray-500">No hay patrones disponibles.</p>
    {% endfor %}
</div>
{% endblock %}