{% extends 'base.html' %}

{% block title %}Patrones disponibles{% endblock %}

{% block content %}
<div class="contenedor-pagina">
    <h2 class="titulo-seccion">Catálogo de Patrones</h2>
    <div class="relative mb-12">
        <div class="contenedor-grid">
            {% for patron in patrones %}
            <div class="tarjeta-producto group">
                <div class="relative">
                    <img src="{{ patron.imagen.url }}" alt="{{ patron.titulo }}"
                        class="imagen-producto group-hover:scale-105" />
                </div>
                <div class="contenido-tarjeta">
                    <div>
                        <h3 class="titulo-producto group-hover:text-stone-800">{{ patron.nombre }}</h3>
                        <p class="descripcion-producto">{{ patron.descripcion|truncatewords:20 }}</p>
                    </div>
                    <div>
                        <p class="precio-producto">${{ patron.precio|floatformat:2 }} COP</p>
                        <form action="{% url 'agregar_producto' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="content_type" value="patron">
                            <input type="hidden" name="object_id" value="{{ patron.id }}">
                            <button type="submit" class="boton-agregar">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}