{% extends 'base.html' %}

{% block title %}Patrones disponibles{% endblock %}

{% block content %}
<div class="container mx-auto py-8">
    <h2 class="text-2xl font-bold text-stone-800">Catálogo de Patrones</h2>
    <div class="flex items-center mb-6">
    </div>
    <div class="relative mb-12">
        <!-- Grid de tarjetas -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            {% for patron in patrones%}
            <div
                class="group bg-white rounded-xl shadow-lg overflow-hidden flex flex-col transition transform hover:-translate-y-1 hover:shadow-2xl">
                <div class="relative">
                    <img src="{{ patron.imagen.url }}" alt="{{ patron.titulo }}"
                        class="h-56 w-full object-cover transition duration-500 group-hover:scale-105" />
                </div>
                <div class="flex-1 flex flex-col justify-between p-6">
                    <div>
                        <h3 class="text-lg font-semibold text-stone-600 mb-2 group-hover:text-stone-800 transition">
                            {{ patron.nombre }}
                        </h3>
                        <p class="text-gray-700 text-sm mb-3 line-clamp-3">
                            {{ patron.descripcion|truncatewords:20 }}
                        </p>
                    </div>
                    <div>
                        <p class="text-base font-bold text-stone-600 mb-4">${{ patron.precio|floatformat:2 }} COP</p>
                        <form action="{% url 'agregar_producto' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="content_type" value="patron">
                            <input type="hidden" name="object_id" value="{{ patron.id }}">
                            <button type="submit"
                                class="w-full rounded-md bg-stone-400 py-2 font-medium text-stone-900 shadow hover:bg-stone-300 transition">
                                Agregar al carrito
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}