{% extends 'base.html' %}
{% block content %}
<div class="container-general">
  <div class="resumen-contenedor">

    <h2 class="resumen-titulo">Resumen de tu Orden</h2>

    {% if orden %}
    <div class="resumen-info">
      <p>Número de Orden: <span>#{{ orden.id }}</span></p>
      <p>Fecha: <span>{{ orden.fecha_creacion|date:"d M Y" }}</span></p>
    </div>

    <div class="resumen-items">
      {% for item in orden.items.all %}
      {% with producto=item.producto %}
      <div class="resumen-item">
        <div class="resumen-item-info">
          <img src="{{ producto.imagen.url }}" alt="{{ producto }}" class="resumen-item-img" />
          <div>
            <h4 class="resumen-item-titulo">{{ producto.titulo|default:producto.nombre }}</h4>
            <p class="resumen-item-cantidad-text">Cantidad:
            <div class="resumen-cantidad-control">
              <a href="{% url 'actualizar_item' item.id %}?accion=disminuir" class="btn-cantidad">−</a>
              <span class="text-sm font-medium">{{ item.cantidad }}</span>
              <a href="{% url 'actualizar_item' item.id %}?accion=aumentar" class="btn-cantidad">+</a>
              <a href="{% url 'eliminar_item' item.id %}" class="btn-eliminar">Eliminar</a>
            </div>
            </p>
          </div>
        </div>
        <div class="resumen-item-precio">
          <p>${{ item.producto.precio|floatformat:2 }} x {{ item.cantidad }} = ${{ item.subtotal|floatformat:2 }}</p>
        </div>
      </div>
      {% endwith %}
      {% empty %}
      <p class="resumen-mensaje">No hay productos en esta orden.</p>
      {% endfor %}
    </div>

    <div class="resumen-total-contenedor">
      <div class="resumen-total-box">
        <div class="resumen-total">
          <span>Total</span>
          <span>${{ orden.get_total|floatformat:2 }}</span>
        </div>
      </div>
    </div>
    {% else %}
    <p class="resumen-mensaje-vacio">No tienes una orden activa actualmente.</p>
    {% endif %}

    <div class="flex-final">
      <a href="{% url 'productos' %}" class="btn-seguir">Seguir comprando</a>
    </div>
  </div>
</div>
{% endblock %}