{% extends 'base.html' %}

{% block title %}tejidos disponibles{% endblock %}

{% block content %}
<div class="contenedor-pagina">
    <h2 class="titulo-seccion">Catálogo de Muñecos</h2>
    <div class="relative mb-12">
        <div class="contenedor-grid">
            {% for tejido in tejidos %}
            <div class="tarjeta-producto group relative">
                <div class="relative">
                    <img src="{{ tejido.imagen.url }}" alt="{{ tejido.nombre }}"
                        class="imagen-producto group-hover:scale-105" />
                    <button class="boton-wishlist">
                        <span class="sr-only">Wishlist</span>
                    </button>
                </div>
                <div class="contenido-tarjeta">
                    <div>
                        <h3 class="titulo-producto group-hover:text-stone-800">{{ tejido.nombre }}</h3>
                        <p class="descripcion-producto">{{ tejido.descripcion|truncatewords:20 }}</p>
                    </div>
                    <div>
                        <p class="precio-producto">${{ tejido.precio|floatformat:2 }} COP</p>
                        <form action="{% url 'agregar_producto' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="content_type" value="tejido">
                            <input type="hidden" name="object_id" value="{{ tejido.id }}">
                            <button type="submit" class="boton-agregar">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}