{% extends "base_entry.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="flex justify-center items-center min-h-screen">
    <div class="w-full max-w-md border-2 border-stone-800 rounded-lg p-6 bg-white">
        <h1 class="text-3xl font-bold text-gray-900 sm:text-4xl">
            Registrate
        </h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button
                class="inline-block w-full rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                type="submit">
                Registrarse
            </button>
            <div class="flex items-center justify-between">
                <p class="text-sm text-gray-500">
                  Ya tienes cuenta?
                  <a class="underline" href="{% url "login"%}">Ingresa</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock content %}