{% extends "base_entry.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="login-pantalla">
    <div class="login-contenedor">
        <h1 class="registro-titulo">Registrate</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn-login">Registrarse</button>
            <div class="registro-pie">
                <p class="registro-texto-pequeño">
                    Ya tienes cuenta?
                    <a href="{% url 'login' %}" class="registro-link">Ingresa</a>
                </p>
            </div>
        </form>
    </div>
</div>

{% endblock content %}